[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
.vs
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.scc
*.zip
*.[Pp]ublish.xml
*.temp_proj
*.orig